/* Empty. Add your own CSS if you like */
.fb{
	font-size: 160%;
	color:#3B5999;
}
.twitter{
	font-size: 160%;
	color:#55CCAE;
}
.whatsapp{
	font-size:160%;
	color:green;
}
.tabs-striped.tabs-light.tabs{
	background-color: #3498db !important;
	border: none !important;
}
.title{
	color:#fff !important;
}


.content{
	background: rgba(41, 128, 185,1.0);
	color: #fff !important;
}

.scorebox{
	padding:0 5px !important;
	height: 50px !important;
	font-weight: bold;
	background-color: #2980b9;
	text-align: center !important;
	vertical-align: middle !important;

}
.scorepad{
	margin: 0;
	padding:10px 0 !important;
	height:auto !important;
}
.scorepadright{
	margin: 0;
	padding:`0px 0 !important;
	height: auto !important;
}
.h3.scorebox{
	margin: 0;
	color:#ecf0f1 !important;
	line-height: 50px !important;
	
}
.h4.scorepad{
	letter-spacing: 1.px;
	color: #ecf0f1 !important;
	line-height: 1.5 !important;
	
}
.h4.scorepadright{
	letter-spacing: 1.5px;
	line-height: 1.5 !important;
	color:#ecf0f1 !important;
}


.h5{
	font-weight: bold;
	margin: 0 !important;
	color:#bdc3c7 !important;
}
.h4{
	font-weight: bold;
	color:#bdc3c7 !important;
}
.item-divider{
	background: #1abc9c !important;
	border: solid 4px #34495e;

}
.col{
	text-align: center;
}
.itembody{
	background-color: #3498db !important;
	border: #3498db !important;
	color: #bdc3c7 !important;
}
.table{
	padding:20px 0;
}
.tablefont{
	color: #444 !important;
}
.chevron{
	font-size:80% !important;
	color: #444 !important;
}
.refresh{
	font-size: 160% !important;
}
.logo{
	height: 50px !important;
	width: 50px !important;
}
.scorers{
	color: #444 !important;
	font-weight: 300 !important;
	font-style: italic !important;
}