
<ion-tabs class="tabs-light tabs-top tabs-striped">


  
  <ion-tab title="Table" icon="icon-bars" href="#/tab/table">
    <ion-nav-view name="tab-table"></ion-nav-view>
  </ion-tab>


  
  <ion-tab title="News" icon="icon-bullhorn" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>


  
  <ion-tab title="Fixtures" icon="icon-list" href="#/tab/fixtures">
    <ion-nav-view name="tab-fixtures"></ion-nav-view>
  </ion-tab>
<ion-tab title="Results" icon="icon-numbered-list" href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>

</ion-tabs>
